
.menu{
    text-align: right;
    font-size: 17px;
    position: sticky;
    line-height: 39px;
    padding-left: 20px;
    letter-spacing: 4px;
    background: black;
    color: whitesmoke;
    top: 0px;
    cursor: pointer;
}
.mobile-menu{
    width: 150px;
    height: 200px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background: black;
    text-align: left;
    line-height: 39px;
    color: bisque;
    transition: 1s;
    position: absolute;
    top: 182px;
}
.mobile-menu >a{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 6px;
    display: block;
}
.menu >a{ 
    margin-right:15px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 6px;
     
}


.mobile-menu-btn{
    width: 30px;
    top: 152px;
    cursor: pointer;
 
}
.menu-active{
    color: cornflowerblue!important;
}